@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Cinzel+Decorative&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Astloch', cursive;
    font-weight: bold;
}
body{
    height: 100vh;
    background-color: #000;
}
header{
    background-image: linear-gradient(180deg, #000 ,rgba(0, 0, 0, 0));
    position:fixed;
    width: 100%;
    color: #fff;
    z-index: 2;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: .5rem 5rem;
    z-index: 99;
}
.navList{
    display: flex;
    text-decoration: none;
}
.linkBar{
    margin: 0rem 1rem;
    color: #fff;
    text-decoration: none;
    transition: 1s;
}
.tituloJogo{
    color: red;
    font-size: 1.5rem;
}
.linkBar:hover{
    color: #f00;
    transition: 1s;
}
.linkBar::hover{
    color: red;
}
.bnt-navbar{
    display:none;
}
#Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Special Elite', cursive;
    background-image: url('imgs/fundo1.jpg');
    background-size: cover;
    color: #fff;
}
.bemVindo{
    font-size: 1.5rem;
    color: red;
}
.TituloGame{
    
    font-size: 4rem;
    animation: aparecer 5s;
    animation-timing-function: linear;
    font-family: 'Astloch', cursive;
}
#Historia{
    height: 100vh;
    color: #fff;
    padding: 3rem;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%), url('imgs/fundo_cemiterio.jpg');
    background-size: cover;
    background-position: center;
}
.historiaJogo{
    font-family: 'Special Elite', cursive;
    text-align: center;
    color: #f00;
}
.objetosModoHistoria{
    display: flex;
    justify-content: center;
    align-items: center;
}
.caveira{
    display: flex;
}
.cicruloAnimado{
    position:relative;
    border: #f00 solid;
    height: 210px;
    width: 210px;
    box-shadow: #f00 0px 0px 10px 10px;
    animation: rotacao 10s infinite;  
}
.cicruloNaoAnimado{
    position:relative;
    top: 20px;
    left: -37.5%;
    border: #f00 double;
    height: 170px;
    width: 170px;
    box-shadow: #f00 1px 1px 10px 10px;
}
.imgCaveira{
    position:relative;
    height: 130px;
    top: 40px;
    left: -66.5% ;
}
.carta{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;  
    animation: go-back 1s infinite alternate;
}
.js-tabcontent section.ativo {
    display: block !important;
    animation: show .5s forwards;
  }
  
  @keyframes show {
    from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
.js-scroll {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: 1s;
  }
  
.js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
.historiaDojogo{
    font-family: 'Special Elite', cursive;
    font-size: .60rem;
    position: absolute;
    margin-top: 5rem;
    margin-right: 1rem;
    width: 200px;
    text-align: center;
    color: rgb(27, 27, 27);
    -moz-transform: translate(2px, -6px) skew(-6deg, -3deg);
    -webkit-transform: translate(2px, -6px) skew(-6deg, -3deg);
    -o-transform: translate(2px, -6px) skew(-6deg, -3deg);
    -ms-transform: translate(2px, -6px) skew(-6deg, -3deg);
    transform: translate(2px, -6px) skew(-6deg, -3deg);
    z-index: 0;
}
.imagemCarta{
    height: 350px;
    -moz-transform: translate(2px, -6px) skew(-6deg, -3deg);
    -webkit-transform: translate(2px, -6px) skew(-6deg, -3deg);
    -o-transform: translate(2px, -6px) skew(-6deg, -3deg);
    -ms-transform: translate(2px, -6px) skew(-6deg, -3deg);
    transform: translate(2px, -6px) skew(-6deg, -3deg);
    z-index: 0;
}
#Interface{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%), url('imgs/fundo_porta.jpg');
    background-size: cover;
    background-position: center;
}

.interfaceTitulo{
    font-family: 'Special Elite', cursive;
    text-align: center;
    color: #f00;
}
.interfaceContainer{
    display: flex;
    justify-content: space-evenly;
}
.interface{
    color: #f00;
    list-style: georgian;

}
.imgInterface{
    border: #f00 2px solid ;
    border-radius: 1rem;
    height: 250px;
    width: 450px;
}

#Divisao{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%), url('imgs/Design\ sem\ nome\ \(15\).jpg');
    background-size: cover;
    background-position: center;
}
.atoTitulo{
    font-family: 'Special Elite', cursive;
    text-align: center;
    color: #f00;
}
.sobreAto{
    font-family: 'Special Elite', cursive;
    text-align: center;
    color: #fff;
}
.listaDeAtos{
    display: flex;
    justify-content: space-evenly;
}
.atos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    height: 350px;
    width: 200px;
    color: #f00;
    border: solid 2px #f00;
    border-radius: 1rem;
    font-family: 'Special Elite', cursive;
}
#ato1:hover{
    background-image: url('imgs/fundo1.jpg');
    background-size: cover;
    background-position: center;
    transition: 5s;
}
#ato2:hover{
    background-image: url('imgs/24Z_2103.w026.n002.244B.p1.244.jpg');
    background-size: cover;
    background-position: center;
    transition: 5s;
}
#ato3:hover{
    background-image: url('imgs/40Z_2105.w026.n002.450B.p0.450.jpg');
    background-size: cover;
    background-position: center;
    transition: 5s;
}
#ato4:hover{
    background-image: url('imgs/2212.w015.n003.1098A.p30.1098.jpg');
    background-size: cover;
    background-position: center;
    transition: 5s;
}
#ato5:hover{
    background-image: url('imgs/v903-techi-34b.jpg');
    background-size: cover;
    background-position: center;
    transition: 5s;
}




#Items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%), url('imgs/Items.jpg');
    background-size: cover;
    background-position: center;
    
}
.tituloItems{
    font-family: 'Special Elite', cursive;
    text-align: center;
    color: #f00;
}
.sobreItems{
    font-family: 'Special Elite', cursive;
    color: #fff;
    text-align: center;
}
.ItemsLista{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tiposItems{
    font-family: 'Special Elite', cursive;
    color: #f00;
}
.armas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imgItens{
    height: 30px;
}
.utilizaveis{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #000;
    border: solid 2px #f00;
    border-radius: 1rem;
    color: #f00;
    font-family: 'Special Elite', cursive;
    margin: .4rem;
    transform: scale(1);
    transition: .5s;
}
.item:hover{
    transform: scale(1.2);
    transition: .5s;
}
.item:not(:hover){
    opacity: 0.75;
    transition: .5s;
  }


@keyframes go-back {
    from {
      transform: translatey(5px);
    }
    to {
      transform: translatey(0);
    }
  }
@keyframes rotacao {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
@keyframes aparecer{
    to{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
}






#Tecno{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tituloTecnologias{
    color: #f00;
    font-family: 'Special Elite', cursive;
    text-align: center;
}
.subtituloTecnolocias{
    color: #fff;
    font-family: 'Special Elite', cursive;
    text-align: center;
}
.listaTecnologias{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}
.TecnologiaList{
  color: #fff;
  font-family: 'Special Elite', cursive;
  height: 300px;
  width: 225px;
  background-color: #111;
  border:solid #f00 1px;
  border-radius: 1rem;
  padding: 1rem;
  transition: 1s;
  
}
.TecnologiaList:hover{
    box-shadow: #f00 0px 0px 20px 0px;
}

.tecnologia{
    color: #f00;
    font-family: 'Astloch', cursive;
    font-weight: bold;
}
.sobreTecnologia{
    font-family: 'Special Elite', cursive;
    color: #fff;
    font-size: .75rem;
}

@media screen and (max-width: 900px) {
    .navbar{
        display: flex;
        justify-content: space-evenly;
        margin: .5rem 5rem;
        z-index: 99;
    }
    
    .linkBar{
        margin: 0 .5rem;
    }
    .tituloJogo{
        color: red;
        font-size: 1rem;
    }
    .tituloItems{
        font-size: 1.5rem;
    }
    .sobreItems{
        font-size: .65rem;
    }
    #Divisao{
        display: grid;
        flex-direction: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .listaDeAtos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .atos{
        margin: 1rem .5rem;
        height: 150px;
    }
    #Tecno{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .atoTitulo{
        font-size:1.5rem;
    }
    .historiaJogo{
        text-align: center;
        font-size:1.5rem;
    }
    .interfaceTitulo{
        font-size:1.5rem;
    }
    .tituloTecnologias{
        font-size: 1.5rem;
    }
    .subtituloTecnolocias{
        font-size: .65rem;
    }
    .listaTecnologias{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .TecnologiaList{
        height: 200px;
        width: 225px;
        margin: 1rem auto;
    }
    .sobreTecnologia{
        font-size: 0.65rem;
    }

    .item{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        background-color: #000;
        border: solid 2px #f00;
        border-radius: .5rem;
        color: #f00;
        font-family: 'Special Elite', cursive;
        margin: .25rem;
        transform: scale(1);
        transition: .5s;
    }
    .imagemCarta{
        height: 275px;
    }
    .objetosModoHistoria{
        display: flex;
        flex-direction: column;
    }
    .cicruloAnimado{
        position:relative;
        border: #f00 solid;
        height: 100px;
        width: 100px;
        box-shadow: #f00 0px 0px 10px 10px;
        animation: rotacao 10s infinite;  
    }
    .cicruloNaoAnimado{
        position:relative;
        top: 21px;
        left: -40.25%;
        border: #f00 double;
        height: 60px;
        width: 60px;
        box-shadow: #f00 1px 1px 10px 10px;
    }
    .imgCaveira{
        position:relative;
        height: 40px;
        top: 32px;
        left: -64.5% ;
    }
    .caveira{
        position: relative;
        left: 60px;
        display: flex;
        margin-top: 2rem;
        
    }
    .historiaDojogo{
        margin-top: 4rem;
        margin-left: .5rem;
        font-size: .41rem;
        width: 150px;
    }
    .imgItens{
        height: 25px;
        width: 25px;
    }
    .reliquias{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 675px) {
    .tituloJogo{
        margin: .5rem 5rem 0rem 0rem;
    }
    .navList{
        display: none;
    }
    .bnt-navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        border: #f00 1px solid;
        border-radius: 2rem;
        background-color: #000;
        cursor: pointer;
        transition: 1s;
        z-index: 99;
    }
    .bnt-navbar:hover{
        border: #000 1px solid;
        border-radius: 2rem;
        background-color: #fff;
        transition: 1s;
    }
    .btn-navbar-logo{
        height: 30px;
    }
    .desativado{
        display: none;
    }
    .ativado{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #0009;
        position: fixed;
        width: 100%;
        height: 100vh;
    }
    .interfaceList{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .interface{
        margin: .25rem 2rem;
    }
    .interfaceContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;  
    }
    #Interface{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .imgInterface{
        height: 150px;
        width: 300px;
    }
    .listaDeAtos{
        display: grid;
        grid-template-columns: 1fr;
    }
    #Divisao{
        display: grid;
        grid-template-columns: 1fr;
    }
    .atos{
        width: auto;
        height: 60px;
        margin: .25rem;
    }

}

@media screen and (max-width: 675px){
    .caveira{
        position: relative;
        left: 60px;
        display: flex;
        margin-top: 5rem;
        
    }
    .imagemCarta{
        height: 350px;
    }
    .historiaDojogo{
        margin-top: 4rem;
        margin-left: .5rem;
        font-size: .55rem;
        width: 200px;
    }
    #Interface{
        justify-content: space-evenly;
    }
    .utilizaveis{
        display: grid;
        margin: 0 1rem;
    }
    .tiposItems{
        text-align: center;
    }
    .listaTecnologias{
        display: flex;
        flex-direction: column;

    }
    .TecnologiaList{
        display: flex;
        align-items: center;
        height: 100px;
        width: auto;
    }
    
}
